@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.landing{
  background: url("../public/images/Landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* MOTO */


.moto-font-one{
  font-family: Minimal;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.moto-font-two{
  font-family: Trip Sans;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.moto-font-three{
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.use{
  background: url("../public/images/Use.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.mycard{
  width: 248px;
height: 328px;
  border-radius: 12px;
  box-shadow: 14px 16px 21px 0px rgba(0, 0, 0, 0.25);

}
.login{
  width: 400px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 14px 16px 21px 0px rgba(0, 0, 0, 0.25);
}
.login1{
  width: 500px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 14px 16px 21px 0px rgba(0, 0, 0, 0.25);
}
.contract{
  width: 615px;
  height: 822px;
   border-radius: 56px;
background: conic-gradient(from 180deg at 50% 50%, #5a3805 0deg, #d37662 69.37499821186066deg, #5e3112 140.625deg, #5e3834 209.99999284744263deg, #834d45 283.1249928474426deg, #820322 360deg);
background-blend-mode: difference, multiply, normal;

}